{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1> ni idea</h1>
        <p>
            de hallacas
        </p>
    </div>

    <div> class="col-4">
        <img src="assets/img/WhatsApp Image 2020-08-03 at 7.30.17 AM.jpeg" class="img-thumbnail">
        
    </div>
</div>